{% extends 'base_home.html' %}

{% block content %}

    <!-- messege -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="container w-50">
                <div class="alert_success">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="user_area text-center big-border container-details pt-3">
        <div class="user_logo">
            {{letter}}
        </div>
        <h4 class="categorie py-2">{{username}}</h4>
        <div class="change_username d-block d-sm-flex justify-content-center">
                <button class="btn btn-outline-warning my-2" onclick="document.getElementById('f-rename').style.display = 'flex';">Change username</button>
            <form id="f-rename" action="/change_username" method="post" class="justify-content-center w-70 position-relative" >
                <input class="form-control" type="text" name="username" placeholder="New Username">
                <button class="btn btn-outline-warning btn-rename">Rename</button>
            </form>
        </div>
        <a id="myBtn" href="#" class="btn btn-outline-warning my-2">Delete Account</a>
        <a href="/logout" class="btn btn-outline-warning my-2">Logout</a>


        <!-- The Modal -->
        <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Warning</h2>
                    <span class="close">&times;</span>
                </div>

              
                <form action="/user" method="post">
                    <input class="form-control" type="password" name="password" placeholder="Your Password">
                    <h5>Are you sure you want to delete the account?</h5>
                    <div class="container d-flex justify-content-center">
                        <button type="submit" class="btn btn-outline-danger mx-1" >Delete</button>
                        <button type="button" class="btn btn-outline-success mx-1" onclick="modal.style.display='none';">Cancel</button>
                    </div>
                </form>
                
            </div>
            

        </div>
    </div>
    
{% endblock %}


