{% extends "base_auth.html" %}

{% block title %}
    New Account
{% endblock %}

{% block content %}
    <div class="container text-white p-5 big-border transparent">
        <h2 class="mb-3"><strong>Create New Account</strong></h2>
        
        <form action="/register" method="post">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="password_confirm" placeholder="Confirm Password" type="password">
            </div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="container w-50">
                        <div class="alert alert-danger">
                            <strong>{{ messages[0] }}</strong>
                        </div>
                    </div>
                {% endif %}
            {% endwith %}
            <button class="btn btn-warning" type="submit">Create Account</button>
            <br>
            <br>
            Already have an account? Go to <a class="text-warning" href="/login">Log In</a>.
        </form>
    </div>
{% endblock %}
