body { 
    background: url("fire.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} 


:root{
    --yellow-d: rgb(250, 160, 10);
    --yellow-l: rgb(250, 210, 10);
    --dark-transparent: rgba(15, 15, 15, 0.651);
    --dark-semitransparent: rgba(15, 15, 15, 0.9);
    --movie-height: 240px;
}


::-webkit-scrollbar{
    width: 12px;        /* color of the tracking area */
    background-color: #212529;
}

::-webkit-scrollbar-track {
    opacity: 100%;
}
::-webkit-scrollbar-thumb {
    background-color: var(--yellow-d);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    /* border: 3px solid orange;  creates padding around scroll thumb */
  }

.big-border {
    border-radius: 25px;
}

.transparent {
    background-color: var(--dark-transparent);
}

.navcolor {
    background-color: rgba(15, 15, 15)
}

.logo {
    width: 80px;
}

.categorie{
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    color: var(--yellow-l);
    padding-left: 1%;
    font-weight: 600;
    text-shadow: 0.08em 0.08em #000
}


.poster_big {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 375px;
}


.poster_big img{
    position: absolute;
    max-height: 100%;
    max-width: 270px;
    border:  var(--yellow-l) solid 4px;
}

.details{
    color: #fff;
    font-weight: 500;
}

.redeable .details{
    font-size: large;
}

.people{
    height: 40vh;
    overflow-y: scroll;
}

.people a{
    color: #fff;
    text-decoration: none;
    transition-duration: 90ms;
}

.people a:hover{
    color: var(--yellow-l);
    text-decoration: none;
}

#container-details{
    border:  var(--yellow-l) solid 4px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--dark-semitransparent);
    min-width: 160px;
    box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding-left: 7%;
    border-radius: 10px;
    border:  var(--yellow-l) solid 2px;
    padding-top: 3%;
}

.dropdown-content a{
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    padding-bottom: 3%;
    padding-left: 8px;
    font-weight: 450;
    transition-duration: 90ms;
}

.dropdown-content a:hover{
    color: var(--yellow-l);
}

.dropdown:hover .dropdown-content {display: grid;}

.nav-link{
    color: #fff;
    font-weight: 450;
}

.nav-link:hover{
    color: var(--yellow-l);
}

.container-movies-grid{    
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
    justify-content: space-between;
}


.search-link{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    transition-duration: 300ms;
}

.search-link:hover{
    color: var(--yellow-l);
}

.box-search{
    display: flex;
    padding: 20px;
    border:  var(--yellow-l) solid 2px;
}

.box-search img{
    height: 200px;
    width: auto;
    padding-right: 3%;
    padding-left: 10%;
    display: flex;
    justify-content: center;
}

.data-all{
    display: flex;
    flex-direction: column;
    text-align: start;
    align-self: center;
}

.data-all div{
    font-size: large;
}

.paginator{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.alert_danger{
    background-color: #430c11;
    border-radius: 15px;
    padding: 15px 2px;
    color: #df7a83;
    border: #6a111a solid 2px;
    margin-bottom: 10px;
}

.alert_success{
    background-color: #203d33;
    border-radius: 15px;
    padding: 15px 2px;
    color: #cac5be;
    border: #2e5845 solid 2px;
    margin-bottom: 10px;
}

.container-movies{
    z-index: 1;
    position: relative;
    padding-top: 10px;
    padding-bottom: 4%;
}


.container-movies .swiper {
    z-index: 1;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 20px;
}
  
.container-movies .swiper-slide {
    position: relative;
    width: 170px;
    height: 240px;
    margin-right: 0.95%;
}

.movie-box{
    position: relative;
    width: 170px;
    height: var(--movie-height);
    margin-right: 0.95%;
    margin-bottom: 15px;
}

.poster{
    position: absolute;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    padding: 1px 1px;
    background-color: #000;
    transition-duration: 300ms;
    border: #000 solid 2px;
    border-radius: 5px;
}

.poster:hover{
    transform: scale(1.1);
    border: var(--yellow-l) solid 3px;
}


.poster img{
    display: flex;
    height: 100%;
    width: 100%;
}

.poster .title{
    background-color:var(--yellow-d);
    color: #000;
    font-weight: 650;
    position: absolute;
    width: 100%;
    height: 26%;
    left: 0px;
    bottom: 6%;
    padding: 5px 5px;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 230ms;
}

.poster:hover .title{
    height: 35%;
}

.show-more-btn{
    z-index: 4;
    box-sizing: border-box; 
    background-color: #000;
    position: absolute;
    right: 0px;
    top: 8.6%;
    height: var(--movie-height);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0px 15px;
    color: var(--yellow-d);
    font-weight: 500;
    opacity: 0.5;
    transition-duration: 300ms;
}

.show-more-btn:hover{
    opacity: 1;
    color: var(--yellow-l);
}

.carousel-item .item{
    width: 100%;
    height: 57vh;
    display: flex;
    justify-content: center;
    background-color: var(--dark-transparent);
}

.oscars{
    margin-left: -1%;
    margin-right: -1%;
    border-top: var(--yellow-l) solid 3px;
    border-bottom: var(--yellow-l) solid 3px ;
}

.item img{
    display: block;
    height: auto;
    max-height: 57vh;
    width: auto;
    max-width: 100%;
    transition-duration: 300ms;
}

.item img:hover{
    border-left: var(--yellow-l) solid 3px;
    border-right: var(--yellow-l) solid 3px;
}


.user_link{
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 4vw;
    height: 4vw;
    color: #000;
    font-size: 4vh;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    background-color: var(--yellow-l);
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 50%;
    transition-duration: 100ms;
}

.user_link:hover{
    color: #000;
    background-color: var(--yellow-d);
}

.user_area{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    padding: 1% 1%;
    background-color: var(--dark-transparent);
    border:  var(--yellow-l) solid 3px;
}

.user_logo{
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 10vw;
    height: 10vw;
    color: #000;
    font-size: 10vh;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    background-color: var(--yellow-l);
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 50%;
    transition-duration: 100ms;
    border: #000 solid 3px;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

