body { 
    background: url("city-blured.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} 

:root{
    --yellow-d: rgb(221, 163, 18);
    --yellow-l: rgb(252, 185, 16);
    --dark-transparent: rgba(15, 15, 15, 0.651);
}


::-webkit-scrollbar{
    width: 12px;        /* color of the tracking area */
    background-color: #212529;
}

::-webkit-scrollbar-track {
    opacity: 100%;
}
::-webkit-scrollbar-thumb {
    background-color: var(--yellow-d);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    /* border: 3px solid orange;  creates padding around scroll thumb */
  }




.big-border {
    border-radius: 25px;
}

.transparent {
    background-color: var(--dark-transparent);
}

.navcolor {
    background-color: rgba(15, 15, 15)
}

.logo {
    width: 80px;
}

.categorie{
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    color:  var(--yellow-l);
    padding-top: 6%;
    padding-left: 1%;
    font-weight: 600;
    text-shadow: 0.08em 0.08em #000
}

.container-movies{    
    position: relative;
    width: 100%;
    height: 270px;
    display: flex;
    flex-basis: 100%;
    align-items: center;
    padding-left: 10px;
}

.poster {
    position: relative;
    min-width: 170px;
    height: 250px;
    box-sizing: border-box; 
    border-radius: 4px;
    margin-right: 3px;
    transition-duration: 400ms;
    border:  #000 solid 3px;
}

.poster .poster-img{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0%;
}

.poster:hover {
    transform: scale(1.1);
    z-index: 3;
    border:  var(--yellow-l) solid 3px;
}


.poster .title{
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    background-color:var(--yellow-l);
    color: #000;
    font-weight: 650;
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 3%;
    padding: 5px 5px;
    transition-duration: 200ms;
    overflow-y: hidden;
}

.poster:hover .title{
    height: 35%;
    padding: 8px 3px;
    width: 100%;
}

.show-more-btn{
    z-index: 4;
    background-color: #000;
    opacity: .3;
    font-weight: bold;
    color: var(--yellow-d);
    border: none;
    position: absolute;
    right: -2%;
    height: 93%;
    padding: 0 30px;
    transition-duration: 200ms;
}

.show-more-btn:hover {
    opacity: .9;
}

.poster_big {
    position: relative;
    display: flex;
    width: 255px;
    height: 375px;
    flex-basis: 100%;
    align-items: center;
    padding-top: 20%;
}

.poster_big img{
    position: absolute;
    height: 100%;
    width: 100%;
    border:  var(--yellow-l) solid 4px;
}

.details{
    display: flex;
    align-items: flex-start;
    color: #fff;
    font-weight: 400;
}

.redeable .details{
    font-size: large;
}

.people{
    height: 40vh;
    overflow-y: scroll;
}

.people a{
    color: #fff;
    text-decoration: none;
    transition-duration: 90ms;
}

.people a:hover{
    color: var(--yellow-l);
    text-decoration: none;
}

#container-details{
    border:  var(--yellow-l) solid 4px;
}