body { 
    background: url("fire.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} 


:root{
    --yellow-d: rgb(221, 163, 18);
    --yellow-l: rgb(252, 185, 16);
    --dark-transparent: rgba(15, 15, 15, 0.651);
    --dark-semitransparent: rgba(15, 15, 15, 0.9);
}


::-webkit-scrollbar{
    width: 12px;        /* color of the tracking area */
    background-color: #212529;
}

::-webkit-scrollbar-track {
    opacity: 100%;
}
::-webkit-scrollbar-thumb {
    background-color: var(--yellow-d);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    /* border: 3px solid orange;  creates padding around scroll thumb */
  }

.big-border {
    border-radius: 25px;
}

.transparent {
    background-color: var(--dark-transparent);
}

.navcolor {
    background-color: rgba(15, 15, 15)
}

.logo {
    width: 80px;
}

.categorie{
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    color: var(--yellow-l);
    padding-top: 1%;
    padding-left: 1%;
    font-weight: 600;
    text-shadow: 0.08em 0.08em #000
}


.container-movies{    
    z-index: 2;
    position: relative;
    width: 100%;
    height: 280px;
    display: flex;
    flex-basis: 100%;
    align-items: center;
    padding-left: 10px;
    overflow-x: hidden;
    
}

.poster {
    z-index: 2;
    position: relative;
    min-height: 240px;
    min-width: 170px;
    box-sizing: border-box; 
    border-radius: 4px;
    margin-right: 3px;
    transition-duration: 300ms;
    border:  #000 solid 3px;
}

.poster .poster-img{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0%;
}

.poster:hover {
    z-index: 5;
    transform: scale(1.1);
    border:  var(--yellow-l) solid 3px;
}


.poster .title{
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    background-color:var(--yellow-l);
    color: #000;
    font-weight: 650;
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 3%;
    padding: 5px 5px;
    transition-duration: 200ms;
    overflow-y: hidden;
}

.poster:hover .title{
    height: 35%;
    padding: 8px 3px;
    width: 100%;
}

.show-more-btn{
    z-index: 4;
    box-sizing: border-box; 
    background-color: #000;
    opacity: .4;
    font-weight: bold;
    color: var(--yellow-d);
    border: none;
    position: absolute;
    right: -2px;
    height: 90%;
    padding: 0% 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 200ms;
    text-decoration: none;
}

.show-more-btn:hover {
    color: var(--yellow-d);
    opacity: .9;
}

.poster_big {
    position: relative;
    display: flex;
    width: 255px;
    height: 375px;
    flex-basis: 100%;
    align-items: center;
    padding-top: 20%;
}

.poster_big img{
    position: absolute;
    height: 100%;
    width: 100%;
    border:  var(--yellow-l) solid 4px;
}

.details{
    color: #fff;
    font-weight: 500;
}

.redeable .details{
    font-size: large;
}

.people{
    height: 40vh;
    overflow-y: scroll;
}

.people a{
    color: #fff;
    text-decoration: none;
    transition-duration: 90ms;
}

.people a:hover{
    color: var(--yellow-l);
    text-decoration: none;
}

#container-details{
    border:  var(--yellow-l) solid 4px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--dark-semitransparent);
    min-width: 160px;
    box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding-left: 7%;
    border-radius: 10px;
    border:  var(--yellow-l) solid 2px;
    padding-top: 3%;
}

.dropdown-content a{
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    padding-bottom: 3%;
    padding-left: 8px;
    font-weight: 450;
    transition-duration: 90ms;
}

.dropdown-content a:hover{
    color: var(--yellow-l);
}

.dropdown:hover .dropdown-content {display: grid;}

.nav-link{
    color: #fff;
    font-weight: 450;
}

.nav-link:hover{
    color: var(--yellow-l);
}

.container-movies-grid{    
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
    justify-content: space-between;
}

.container-movies-grid .poster{
    position: relative;
    min-width: 170px;
    min-height: 250px;
    border-radius: 4px;
    margin-right: 3px;
    margin-bottom: 6px;
    transition-duration: 300ms;
    border:  #000 solid 3px;
}

.container-movies-grid .poster:hover{
    transform: scale(1.1);
    z-index: 3;
    border:  var(--yellow-l) solid 3px;
}

.search-link{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    transition-duration: 300ms;
}

.search-link:hover{
    color: var(--yellow-l);
}

.box-search{
    display: flex;
    padding: 20px;
    border:  var(--yellow-l) solid 2px;
}

.box-search img{
    height: 200px;
    width: auto;
    padding-right: 3%;
    padding-left: 10%;
    display: flex;
    justify-content: center;
}

.data-all{
    display: flex;
    flex-direction: column;
    text-align: start;
    align-self: center;
}

.data-all div{
    font-size: large;
}

.paginator{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.alert_danger{
    background-color: #430c11;
    border-radius: 15px;
    padding: 15px 2px;
    color: #df7a83;
    border: #6a111a solid 2px;
    margin-bottom: 10px;
}

.alert_success{
    background-color: #203d33;
    border-radius: 15px;
    padding: 15px 2px;
    color: #cac5be;
    border: #2e5845 solid 2px;
    margin-bottom: 10px;
}


