{% extends 'base.html' %}

{% block navbar %}
        <ul class="navbar-nav ms-2">
            <li class="nav-link">
                <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-link dropdown">
                <a class="nav-link dropbtn">Genres</a>
                <div class="dropdown-content text-start">
                    <a href="/more/Action/1">Action</a>
                    <a href="/more/Animation/1">Animation</a>
                    <a href="/more/Biography/1">Biography</a>
                    <a href="/more/Comedy/1">Comedy</a>
                    <a href="/more/Crime/1">Crime</a>
                    <a href="/more/Drama/1">Drama</a>
                    <a href="/more/Fantasy/1">Fantasy</a>
                    <a href="/more/Horror/1">Horror</a>
                    <a href="/more/Romance/1">Romance</a>
                    <a href="/more/Sci-Fi/1">Sci-Fi</a>
                    <a href="/more/War/1">War</a>
                </div>
            </li>
            <li class="nav-link">
                <a href="/more/Watchlist/1" class="nav-link">Watchlist</a>
            </li>
            <li class="nav-link">
                <a href="/user" class="nav-link d-block d-sm-none">USER</a>
            </li>
        </ul>
    
        <form class="d-flex ms-auto" role="search" action="/search" method="get">
            <input id="input_search" class="form-control me-2" type="search" required placeholder="Search For a Movie" aria-label="Search" name="search">
            <input type="hidden" name="part" value="1">
            <button class="btn btn-outline-warning" type="submit">Search</button>
        </form> 
        
        <a href="/user" class="user_link d-none d-sm-block">
            {{letter}}
        </a>


        
        
{% endblock %}
