{% extends "base_home.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}

    <!-- Success Login Message  --> 
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="container w-50">
                <div class="alert_success">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="oscars d-none d-sm-block mb-4">
        <span class="label-oscars">
            2022 Oscars
        </span>

        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="4000">
                    <a class="item" " href="/movie/tt10366460">
                        <img src="../../static/imgs/oscars/tt10366460.png">
                    </a>
                </div>
                {% for id in oscars %}
                    <div class="carousel-item" data-bs-interval="4000">
                        <a href="/movie/{{id}}" class="item">
                            <img src="../../static/imgs/oscars/{{id}}.png">
                        </a>
                    </div>
                {% endfor %}

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <!-- Categories movies -->
    {% if content %}
            {% for key in content %}
                <h2 class="categorie text-start">{{key}}</h2>    
                <div class="container-movies">
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            {% for movie in content[key] %}
                                <div class="swiper-slide">
                                    <a href="/movie/{{movie.id}}" class="poster">
                                        <img src="../../static/posters/{{movie['id']}}.jpg" onerror="this.onerror=null; this.src='../../static/poster_not_found.jpg'" alt="">
                                        <div class="title">{{movie['title']}}</div>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>  
                    </div>
                </div>
            {% endfor %}
    {% endif %}
    


    

    
{% endblock %}

