{% extends 'base_home.html' %}

{% block title %}
    Movie Details
{% endblock %}

{% block content %}
        <div id="container-details" class="container text-center text-white p-4 big-border transparent">
            <h2 class="categorie pb-3">Movie Details</h2>
            <div class="flex-column flex-sm-row d-sm-flex aligh-items-center">
                <div class="poster_big">
                    <img src="../../static/posters/{{movie['id']}}.jpg" onerror="this.onerror=null; this.src='../../static/poster_not_found.jpg'" alt="poster">
                </div>

                <div class="container p-5 col-md-6 text-center text-md-start">
                    <h5 class="details">{{ movie['title']}}</h5>
                    <h5 class="details">{{ movie['year']}}</h5>
                    <h5 class="details">{{ movie['genres']}}</h5>
                    <span class="px-3"></span>
                    <div class="details text-center justify-content-sm-evenly d-sm-flex ">
                        <div class="details">Movie Details: <br> {{ movie['title']}} <br> </div>
                        <div class="details">Release Year: <br> {{ movie['year']}}</div>
                    </div>
                    <div class="redeable text-start">
                        <br>
                        <div class="details pb-2">
                            Plot:
                        </div>
                        <div>{{movie['plot'][0]}}</div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
