{% extends 'base_home.html' %}

{% block content %}
    {% if categorie %}
    <h2 class="categorie text-center pb-3">{{categorie}}</h2>
    {% endif %}

    {% if movies %}
        <div class="container-movies-grid">
            {% for movie in movies %}
                <a href="/movie?id={{movie['id']}}" class="poster">
                    <img class="poster-img" src="../../static/posters/{{movie['id']}}.jpg" alt="poster">                
                    <div class="title">{{movie['title']}}</div>
                </a>
            {% endfor %}
        </div>
        
        <div class="container paginator">
            <!-- {% if part != 1 %}
                <a class="btn btn-warning" href="/show_more?data={{categorie}}/{{part - 1}}"><strong>&#60;</strong></a>
            {% endif %}
    
            <span class="text-warning px-2"><strong>Page {{part}} of {{max}}</strong></span>
            
            {% if part != max %}     
                <a class="btn btn-warning" href="/show_more?data={{categorie}}/{{part + 1}}" ><strong>&#62;</strong></a>
            {% endif %} -->
            
            {% if part != 1 %}
                <form action="/show_more" method="get">
                    <input type="hidden" name="categorie" value="{{categorie}}">
                    <input type="hidden" name="part" value="{{part-1}}">
                    <button class="btn btn-warning" type="submit"><strong>&#60;</strong></button>
                </form>
            {% endif %}
    
            <span class="text-warning    px-2"><strong>Page {{part}} of {{max}}</strong></span>
            
            {% if part != max %}
                <form action="/show_more" method="get">
                    <input type="hidden" name="categorie" value="{{categorie}}">
                    <input type="hidden" name="part" value="{{part+1}}">
                    <button class="btn btn-warning" type="submit"><strong>&#62;</strong></button>
                </form>     
            {% endif %}
        </div>
    {% endif %}

{% endblock %}


